# Java build
/build/
/bin/
/out/

# Gradle
.gradle/
*.jar
*.war
/*.ear
/*.zip
/*.tar.gz
# Ignore Gradle wrapper files
gradlew
gradlew.bat
gradle/wrapper/
# VS Code
.vscode/

# Eclipse / STS
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# H2 DB files (if persisted later)
*.mv.db
*.h2.db

# Ignore test output
/test-output/
